<p>
    Hej! Jak się nazywasz?
</p>

<aside class="float-right">
    <h2>
        No można też takie coś zrobić.
    </h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi mollis augue id nisl interdum, eget euismod ligula
        hendrerit. Mauris ut nisl cursus, porta magna at, tristique nunc. Maecenas in sollicitudin quam. Ut accumsan
        ipsum nec metus pellentesque faucibus et at mi.
    </p>
</aside>

<form action="test/2" method="post">
    <input type="text" name="username" id="username">
    <button type="submit">wyślij</button>
</form>